## saves, etc.
*.oldsave
mice.txt

## Java
*.class
hs_err_pid*

## IntelliJ
.idea/

## Gradle
/local.properties
.gradle/
gradle-app.setting
/build/
/core/build/
/desktop/build/
/calculation/build/
/simulator/build/

## OS Specific
.DS_Store
Thumbs.db
